:root {
    /* Colors */
    --light-green: #7FE77F;
    --dark-green: #0E740E;
    --dark-blue: #08053F;
    --dark-red: #A81212;
    --light-red: #FF8B8B;

    --border-color: #BEBEBE;

    --text-color: #363636;
    --light-text-color: #545151;
    --white-text-color: #E7E7E7;

    --header-font: 'Oswald', sans-serif;
    --body-font: 'Inter', sans-serif;

    --border-1: 1px solid red;
    --border-2: 1px solid green;
}

header,
#tithes-offering-section,
#date-section,
#date-list-section {
    padding: 0 1.05rem;
}

.main {
    padding: 23px 0 50px;
    position: relative;
}

/* Navigation pane */
#menu-icon {
    display: flex;
    color: var(--text-color);
    margin-top: 7px;
}

#close-menu-icon {
    width: 2.3rem;
    height: 2.3rem;
}

#navigation-pane {
    color: var(--text-color);
    z-index: 100;
    box-sizing: border-box;
    height: 100lvh;
    font-family: var(--body-font);
    background-color: white;
    padding: 39px 32px;
    position: absolute;
    inset: 0;
    display: none;
}

#navigation-pane > div {
    display: grid;
    gap: 74px;
    grid-template-rows: auto 1fr auto;
    box-sizing: border-box;
    font-size: 1.4rem;
}

#navigation-pane > div >  div:nth-child(2) {
    padding: 0 8px;
    overflow-y: auto;
    max-height: 380px;
    display: flex;
    margin: 0 8px;
    flex-direction: column;
    text-align: center;
}

#navigation-pane > div> div:nth-child(2) > a {
    padding: 26px 134px;
    border-top: var(--border-color) 1px solid;
    text-decoration: none;
    color: inherit;
}

#navigation-pane > div > div:nth-child(2) > a:last-child {
    border-bottom: var(--border-color) 1px solid;
}

#navigation-pane > div > button {
    padding: 26px 131px;
    font-size: 1.4rem;
    font-family: var(--body-font);
    border-radius: 20px;
    border: var(--border-color) 1px solid;
}


header,
header > div {
    justify-content: space-between;
    display: flex;
    gap: 14px;
    align-items: center;
    font-family: var(--header-font);
}

header > div > p {
    padding: 1.3rem 1.3rem;
    background-color: var(--dark-green);
    border-radius: 100%;
    color: var(--white-text-color);
    font-family: var(--body-font);
    font-weight: 700;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

/* Add Date Section */
#add-date-section {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    inset: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
}

.modal {
    width: 50%;
    border-radius: 10px;
    min-width: 370px;
    max-width: 500px;
    border: var(--border-color) solid 1px;
    background-color: white;
    z-index: 100;
}

#add-date-header {
    display: flex;
    justify-content: space-between;
}

#add-date-header > button {
    border: none;
    height: 30px;
    width: 30px;
}

#add-date-header > button > img {
    background-color: white;
}

#add-date-section > div > div > p {
    font-size: 24px;
    font-family: var(--header-font);
}

#add-date-section > div {
    font-family: var(--body-font);
    padding: 19px 21px;
    color: var(--text-color);
}

#start-date,
#end-date {
    font-family: var(--body-font);
    padding: 19px 21px;
    border-radius: 5px;
    color: var(--text-color);
    border: var(--border-color) solid 1px;
    outline: none;
    font-size: 14px;
    padding: 10px;
}

#add-date-section > div > div {
    margin-top: 9px;
    padding: 0 10px;
}

#add-date-section > div > div > form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#add-date-section > div > div > form > div > label {
    display: flex;
    font-family: var(--body-font);
    font-size: 14px;
    gap: 1.1rem;
    flex-direction: column;
}

#add-date-section > div > div > form > div {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

#add-date-submit-btn {
    margin-top: 10px;
    border-radius: 50px;
    padding: 15px 0;
    font-family: var(--body-font);
    text-align: center;
    width: 100%;
    background-color: var(--dark-green);
    color: var(--white-text-color);
    border: none;
}

/* Tithes and Offering section */
#tithes-offering-section {
    display: flex;
    align-items: center;
    font-family: var(--header-font);
    justify-content: space-between;
    margin-top: 40px;
}

#tithes-offering-section > h2 {
    margin-left: 8px;
    font-size: 28px;
    font-weight: 400;
}

#add-date-btn {
    display: flex;
    gap: .5rem;
    background-color: var(--dark-blue);
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 5px;
}

#add-date-btn > button {
    background-color: inherit;
    font-size: 13px;
    font-weight: 500;
    font-family: var(--body-font);
    border: none;
    color: var(--white-text-color);
}

#add-btn-img {
    display: flex;
    align-items: center;
}

/* Date section */
#date-section {
    margin: 29px 8px 0;
    font-family: var(--body-font);
    color: var(--text-color);
    position: relative;
}

#date-section > div:not(#select-date-header){
    display: none;
    align-items: center;
    justify-content: space-between;
}

#select-date-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#select-date-header > p {
    font-size: 14px;
    font-weight: 500;
} 

#clear-filter-btn {
    margin-right: 10px;
    text-align: right; 
}

#clear-filter-btn > button {
    border-radius: 10px;
    border: var(--border-color) 1px solid;
    background-color: #efeeee;
    color: var(--text-color);
    padding: 5px 7px;
    font-family: var(--body-font);
    font-size: 12px;
    font-weight: 500;
}

#clear-filter-btn > button:active {
    background-color: #dfdddd;
}
#months-options {
    position: absolute;
    bottom: -140px;
    left: 5%;
    right: 5%;
    background-color: white;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;  
    gap: 10px;  
    display: none;
    border-radius: 10px;
    overflow: hidden;
    border: var(--border-color) 1px solid;
    padding: 10px;
    z-index: 10;
    box-sizing: border-box;
}

#months-options > button {
    padding: 10px 10px;
    background-color: white;
    border: none;
    color: var(--text-color);
}

#months-options > button:hover {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

#years-options {
    position: absolute;
    top: 93px;
    text-align: center;
    left: 45%;
    display: none;
    background-color: white;
    width: 100px;
    gap: 10px;  
    border-radius: 10px;
    border: var(--border-color) 1px solid;
    padding: 10px;
    z-index: 10;
    box-sizing: border-box;
}

#years-options > div {
    overflow-y: auto;
    max-height: 300px; 
}

#years-options > div > button {
    width: 100%;
    padding: 10px 10px;
    background-color: white;
    border: none;
    color: var(--text-color);
}

#years-options > div > button:hover {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.select-container {
    position: relative;
    width: 100%;
    border: var(--border-color) 1px solid;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}


.dropdown-icon {
    background-color: white;
}

.input-field {
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    color: var(--text-color);
    text-align: center;
}

.input-field::placeholder {
    color: var(--text-color);
}

.select-container,
#date-section form button{
    border-radius: 5px;
}

#date-section #submit-btn  {
    display: flex;
    justify-content: center;
    align-items: center;
}

#date-section #submit-btn > p {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    background-color: var(--light-green);
}

#date-section > form {
    display: flex;
    align-items: center;
    padding: 15px 9px;
    gap: .9rem;
    justify-content: space-between;
}

/* Date list section */
#date-list-section {
    font-family: var(--body-font);
    margin-top: 14px;
    color: var(--text-color);
}

#date > a > p {
    font-size: 1rem;
}

#date-list-section > p {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 11px;
    margin-bottom: 11px;
}

#date-list {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
}

#date-list > p {
    font-size: 14px;
}

.date {
    border-top: 1px solid var(--border-color);
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.date > a {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.date > a > p > span:first-child {
    font-weight: 600;
}

.date > a > p:last-child {
    word-break: break-all;
    max-width: 50%;
}

.date:last-child {
    border-bottom: 1px solid var(--border-color);
}

.date > a {
    padding: 10px 0 10px 12px;
    width: 100%;
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
}

.delete-btn {
    padding: 10px;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--light-red);
    color: var(--dark-red);
}

/* Warning modal */
#warning-modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    width: 100%;
}
#warning-div {
    min-width: 355px;
    max-width: 250px;
    width: 50%;
    background-color: white;
    display: flex;
    font-family: var(--body-font);
    flex-direction: column;
    gap: 20px;
    padding: 15px 20px 14px;
    text-align: center;
    border: var(--border-color) 1px solid;
    border-radius: 20px;
}

#warning-div > h4 {
    border-bottom: 1px solid var(--border-color);
    font-size: 20px;
    padding-bottom: 10px;
}

#warning-div > p {
    font-size: 14px;
}

#warning-action-btns {
    display: flex;
    gap: 17px;
}

#warning-cancel-btn,
#warning-delete-btn {
    font-family: var(--body-font);
    width: 100%;
    font-weight: 500;
    padding: 14px 0;
    border-radius: 10px;
    border: none;
    outline: none;
}

#warning-cancel-btn {
    background-color: var(--dark-green);
    color: white;
}

#warning-delete-btn {
    background-color: var(--light-red);
    color: var(--dark-red);
}