:root {
    /* Colors */
    --light-green: #7FE77F;
    --dark-green: #0E740E;
    --dark-blue: #08053F;

    --border-color: #BEBEBE;

    --text-color: #363636;
    --light-text-color: #545151;
    --white-text-color: #E7E7E7;

    --header-font: 'Oswald', sans-serif;
    --body-font: 'Inter', sans-serif;

    --border-1: 1px solid red;
    --border-2: 1px solid green;
}

header,
#date-section,
#recent-section,
#savings-section {
    padding: 0 1.05rem;
}

.main {
    padding: 23px 0 100px;
    position: relative;
}

/* Navigation pane */
#menu-icon {
    display: flex;
    color: var(--text-color);
    margin-top: 7px;
}

#close-menu-icon {
    width: 25px;
    height: 25px;
}

#navigation-pane {
    color: var(--text-color);
    z-index: 100;
    box-sizing: border-box;
    height: 100lvh;
    font-family: var(--body-font);
    background-color: white;
    padding: 39px 32px;
    position: fixed;
    justify-content: center;
    min-width: 454px;
    inset: 0;
    display: none;
}

#navigation-pane > div {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 578px;
    grid-template-rows: auto 1fr auto;
    box-sizing: border-box;
    font-size: 1.4rem;
}

#navigation-pane > div >  div:nth-child(2) {
    overflow-y: auto;
    max-height: 380px;
    display: flex;
    margin: 0 8px;
    flex-direction: column;
    text-align: center;
}

#navigation-pane > div> div:nth-child(2) > a {
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-bottom: var(--border-color) 1px dashed;
    text-decoration: none;
    color: var(--light-text-color);
}

/* #navigation-pane > div > button {
    padding: 10px 0;
    font-size: 14px;
    font-family: var(--body-font);
    border-radius: 5px;
    border: var(--border-color) 1px solid;
} */


header,
header > div {
    justify-content: space-between;
    display: flex;
    gap: 14px;
    align-items: center;
    font-family: var(--header-font);
}

header > div > p {
    padding: 1.3rem 1.3rem;
    background-color: var(--dark-green);
    border-radius: 100%;
    color: var(--white-text-color);
    font-family: var(--body-font);
    font-weight: 700;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

/* Date section */
#date-section {
    margin: 43px 8px 0;
    font-family: var(--body-font);
    color: var(--text-color);
    position: relative;
}

#months-options {
    position: absolute;
    bottom: -140px;
    left: 5%;
    right: 5%;
    background-color: white;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;  
    gap: 10px;  
    display: none;
    border-radius: 10px;
    overflow: hidden;
    border: var(--border-color) 1px solid;
    padding: 10px;
    z-index: 10;
    box-sizing: border-box;
}

#months-options > button {
    padding: 10px 10px;
    background-color: white;
    border: none;
    color: var(--text-color);
}

#months-options > button:hover {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

#years-options {
    position: absolute;
    top: 107px;
    text-align: center;
    left: 40.5%;
    display: none;
    background-color: white;
    width: 100px;
    gap: 10px;  
    border-radius: 10px;
    border: var(--border-color) 1px solid;
    padding: 10px;
    z-index: 10;
    box-sizing: border-box;
}

#years-options > div {
    overflow-y: auto;
    max-height: 300px; 
}

#years-options > div > button {
    width: 100%;
    padding: 10px 10px;
    background-color: white;
    border: none;
    color: var(--text-color);
}

#years-options > div > button:hover {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.select-container {
    position: relative;
    width: 100%;
    border: var(--border-color) 1px solid;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
}


.dropdown-icon {
    width: 20px;
    height: 20px;
    background-color: white;
}

.input-field {
    border: none;
    /* padding: 1.1rem 1.2rem; */
    outline: none;
    width: 100%;
    box-sizing: border-box;
    color: var(--text-color);
    text-align: center;
}

.input-field::placeholder {
    color: var(--text-color);
}

.select-container,
#date-section form button{
    border-radius: 5px;
}

#date-section #submit-btn > button {
    padding: 17px 38px;
    border: none;
    background-color: var(--light-green);
}

#date-section > form {
    display: flex;
    padding: 18px 9px;
    gap: .9rem;
    justify-content: space-between;
}

/* Main section */
#recent-section {
    font-family: var(--body-font);
}

#recent-section > p,
#savings-section > p {
    margin: 30px 0 15px 8px;
}

#recent-section > div {
    border-radius: 20px;
    background-color: var(--dark-blue);
    color: var(--white-text-color);
    font-weight: 600;
    padding: 1.9rem 1.7rem;
    line-height: 2rem;
}

#recent-section > div span {
    font-weight: 300;
}

#recent-section > div > :last-child {
    text-align: end;
    font-size: 1.2rem;
}

#savings-section {
    font-family: var(--body-font);
}

#savings-section > div {
    border-radius: 20px;
    background-color: var(--light-green);
    color: var(--white-text-color);
    text-align: center;
    padding: 1rem ;
}

#savings-section > div > p:first-child {
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark-green);
    font-size: 1.2rem;
}

#savings-section > div > p:last-child {
    color: var(--dark-green);
    font-size: .9rem;
}
